body {
    width: 90%;
    margin: 1em auto;
    font-family:"Kaiti SC", Georgia, 'Times New Roman', Times, serif !important;
    font-size: 20px;
    color: #35453F;
    background-color: #C4E7CD;
}

p {
    margin-bottom: 1em !important;
    font-size: 20px !important;
}

h1.en, p.en {
    /* display: none; */
}

p.cn {
    letter-spacing: 0.1em;
}

img{
    width: 90% !important;
    text-align: center !important;
}

sup {
    margin-right: 0.5em;
}

a {
    color: #232442
}

strong {
    color: #151741; 
    font-size: 95%;
}


._5-all-caps {
    font-style: normal;
    font-weight: normal
    }
._5-rrh {
    font-style: normal;
    font-weight: normal;
    line-height: 1.2
    }
.ach {
    display: block;
    font-size: 0.58065em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 18px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.acl {
    display: block;
    font-size: 0.77419em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 6px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.acsh {
    display: block;
    font-size: 0.58065em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 18px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 30px;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.ata {
    display: block;
    font-size: 0.77419em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 1.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0
    }
.atah {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.bib {
    display: block;
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-top: 0
    }
.bib1 {
    display: list-item;
    font-size: 0.64516em;
    font-style: normal;
    font-weight: normal;
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 1em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-decoration: none;
    text-indent: -0.9em
    }
.bmh {
    display: block;
    font-size: 1.29032em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 85px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.calibre {
    display: block;
    font-size: 1.29167em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    display: inline;
    text-decoration: none
    }
.calibre2 {
    font-weight: bold
    }
.calibre3 {
    line-height: 1.2
    }
.calibre4 {
    display: inline;
    line-height: 1.2;
    text-decoration: none
    }
.calibre5 {
    font-style: italic;
    line-height: 1.2
    }
.calibre6 {
    font-style: bold;
    }
.calibre7 {
    font-size: 0.83333em
    }
.calibre8 {
    display: block;
    line-height: 1.2
    }
.calibre9 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre10 {
    font-size: 1em;
    line-height: 1.2
    }
.calibre11 {
    font-size: 0.625em;
    line-height: normal;
    vertical-align: 35%
    }
.calibre12 {
    font-size: 0.75em;
    line-height: 1.2;
    vertical-align: 35%
    }
.calibre13 {
    display: block;
    page-break-after: always
    }
.calibre14 {
    height: auto;
    width: auto
    }
.calibre15 {
    font-size: 0.58065em;
    line-height: normal;
    vertical-align: 35%
    }
.calibre16 {
    font-size: 0.77419em
    }
.calibre17 {
    display: list-item;
    list-style-type: none
    }
.calibre18 {
    font-size: 0.9em
    }
.calibre19 {
    font-weight: bold;
    line-height: 1.2
    }
.cct {
    display: list-item;
    font-size: 0.77419em;
    font-style: normal;
    font-weight: normal;
    list-style-type: none;
    margin-bottom: 4px;
    margin-left: 1.7em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0
    }
.cct1 {
    display: list-item;
    font-size: 0.77419em;
    font-style: normal;
    font-weight: normal;
    list-style-type: none;
    margin-bottom: 17px;
    margin-left: 1.7em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0
    }
.cct2 {
    display: list-item;
    font-size: 0.77419em;
    font-style: normal;
    font-weight: normal;
    list-style-type: none;
    margin-bottom: 4px;
    margin-left: 1.7em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-decoration: none;
    text-indent: -1em
    }
.cct3 {
    display: list-item;
    font-size: 0.77419em;
    font-style: normal;
    font-weight: normal;
    list-style-type: none;
    margin-bottom: 7px;
    margin-left: 1.7em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0
    }
.cct4 {
    display: list-item;
    font-size: 0.77419em;
    font-style: normal;
    font-weight: normal;
    list-style-type: none;
    margin-bottom: 4px;
    margin-left: 1.7em;
    margin-right: 0;
    margin-top: 17px;
    text-align: left;
    text-decoration: none;
    text-indent: 0
    }
.cn {
    display: block;
    font-size: 1.54839em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0.3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.crt {
    display: block;
    font-size: 0.58065em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.crt1 {
    display: block;
    font-size: 0.58065em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 12px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.cst {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 77px;
    margin-left: 4.4em;
    margin-right: 4.4em;
    margin-top: 7px;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.ct {
    display: block;
    font-size: 1.29032em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 2.4em;
    margin-right: 2.4em;
    margin-top: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.dia {
    display: block;
    font-size: 0.64516em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 11px;
    margin-left: 1.2em;
    margin-right: 1.2em;
    margin-top: 11px;
    text-align: left;
    text-decoration: none;
    text-indent: 0
    }
.dia1 {
    display: block;
    font-size: 0.64516em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 1.2em;
    margin-right: 1.2em;
    margin-top: 11px;
    text-align: left;
    text-decoration: none;
    text-indent: 0
    }
.diai {
    display: block;
    font-size: 0.64516em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 1.2em;
    margin-right: 1.2em;
    margin-top: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 1.1em
    }
.enh {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 6px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 26px;
    page-break-after: avoid;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.ep {
    display: block;
    font-size: 0.64516em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0
    }
.epa {
    display: block;
    font-size: 0.64516em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 28px;
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 0;
    text-align: right;
    text-decoration: none;
    text-indent: 0
    }
.epub {
    display: none;
    height: 67px;
    width: 112px
    }
.epub1 {
    display: none;
    height: 41px;
    line-height: 1.2;
    width: 50px
    }
.fb {
    display: inline;
    height: auto;
    line-height: 1.2;
    width: 1em
    }
.figcap {
    display: block;
    font-size: 0.77419em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 1px;
    margin-left: 1em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-decoration: none;
    text-indent: -1em
    }
.figcap1 {
    display: block;
    font-size: 0.77419em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 6px;
    margin-left: 1em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0
    }
.fmh {
    display: block;
    font-size: 1.29032em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 84px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.fmtx {
    display: block;
    font-size: 0.77419em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 1.1em
    }
.footnotes {
    display: block;
    list-style-type: decimal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-left: 0
    }
.fut_logo {
    display: block;
    font-size: 1.29032em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 1.2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.2em;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.fut_toc {
    display: block;
    font-size: 0.77419em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.fut_toc1 {
    display: block;
    font-size: 0.77419em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    margin-bottom: 1.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.h {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 14px;
    margin-left: 1.2em;
    margin-right: 1.2em;
    margin-top: 28px;
    page-break-after: avoid;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.img {
    height: auto;
    width: 90%
    }
.img1 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
.img2 {
    height: auto;
    width: 60%
    }
.ind {
    display: block;
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.ix {
    display: list-item;
    font-size: 0.64516em;
    font-style: normal;
    font-weight: normal;
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0
    }
.ixa {
    display: list-item;
    font-size: 0.64516em;
    font-style: normal;
    font-weight: normal;
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 13px;
    text-align: left;
    text-decoration: none;
    text-indent: 0
    }
.nl {
    display: block;
    font-size: 0.77419em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 2.5em;
    margin-right: 1.1em;
    margin-top: 11px;
    text-align: left;
    text-decoration: none;
    text-indent: -1.5em
    }
.nl1 {
    display: block;
    font-size: 0.77419em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 2.5em;
    margin-right: 1.1em;
    margin-top: 0;
    text-align: left;
    text-decoration: none;
    text-indent: -1.5em
    }
.nl2 {
    display: block;
    font-size: 0.77419em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 11px;
    margin-left: 2.5em;
    margin-right: 1.1em;
    margin-top: 0;
    text-align: left;
    text-decoration: none;
    text-indent: -1.5em
    }
.ntx {
    display: block;
    font-size: 0.64516em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 2.3em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-decoration: none;
    text-indent: -2.3em
    }
.ntxi {
    display: block;
    font-size: 0.64516em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 2.2em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 1.1em
    }
.sign-up {
    display: inline;
    height: auto;
    width: 3.5em
    }
.sp {
    display: block;
    margin-bottom: 3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.stx {
    display: block;
    font-size: 0.77419em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-decoration: none;
    text-indent: 1.1em
    }
.tit {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.tni {
    display: block;
    font-size: 0.77419em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0
    }
.tni1 {
    display: block;
    font-size: 0.77419em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 8px;
    text-align: left;
    text-decoration: none;
    text-indent: 0
    }
.tnis {
    display: block;
    font-size: 0.77419em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 15px;
    text-align: left;
    text-decoration: none;
    text-indent: 0
    }
.transition {
    background: url(OEBPS/Image00002.jpg) no-repeat center;
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: medium;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: medium;
    color: gray;
    display: block;
    height: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.v {
    display: block;
    font-size: 0.64516em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 6em;
    margin-right: 0;
    margin-top: 11px;
    text-align: left;
    text-decoration: none;
    text-indent: -1em
    }
.v1 {
    display: block;
    font-size: 0.64516em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 6em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-decoration: none;
    text-indent: -1em
    }
.v2 {
    display: block;
    font-size: 0.64516em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 11px;
    margin-left: 6em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-decoration: none;
    text-indent: -1em
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

